.application {
  height: 100%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: minmax(0,1fr) auto; 
  gap: 0px 0px; 
  grid-template-areas: 
    "ContentArea"
    "NavBar";  
}